body {
    background-color: #fff; /* Cor de fundo branca */
    color: #333; /* Cor do texto escura */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #6a0dad; /* Cor roxa do Deezer */
    color: #fff; /* Cor do texto branca */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    height: 40px; /* Altura da logo */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.section {
    padding: 20px;
}

.footer {
    background-color: #6a0dad; /* Cor roxa do Deezer */
    color: #fff; /* Cor do texto branca */
    text-align: center;
    padding: 10px;
}
